body {
    background-color: inherit !important;
}

::-webkit-scrollbar {
    width: 15px;
    left: -150px;
}

::-webkit-scrollbar-thumb {
    background: #C2185B;
    background-clip: content-box;
    border: 5px solid transparent;
}